@model IEnumerable<App2.Models.Category>

@{
    ViewData["Title"] = "Категории";
}

<h1>Категории</h1>

<p>
    <a asp-action="Create">Създай категория</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Премахни</a>
            </td>
        </tr>
}
    </tbody>
</table>
